@font-face {
    font-family: 'Alphabet4';
    src: url('/css/ALFPHABET-IV.TTF') format("truetype");
}

:root {
	--anim_conf: 13s linear forwards running;
}

::selection {
	background: transparent;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	background: black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
}

aside.controls {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: ghostwhite 0 0 50px -40px;
	width: 50%;
	height: 15vw;
	margin: auto;
	position: relative;
	z-index: 99;
}

aside.controls>.item {
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);

	width: 20%;
	margin: 0;
	padding: 0;
	
	z-index: 100;
	cursor: pointer;
	transition: opacity 0.4s;

	will-change: opacity transform;
	-webkit-tap-highlight-color: transparent;
}
aside.controls>.item>svg {
	fill: white;
	height: auto;
	width: 100%;
	will-change: opacity transform;
}
aside.controls>.item:hover {
	opacity: 0.8;
}

aside.controls>.item.left {
	left: 7%;
}

aside.controls>.item.center {
	left: 50%;
  	transform: translateX(-50%) translateY(-50%);
}

aside.controls>.item.right {
	right: 5%;
}

#btnMute {
	width: 93.5%;
	transform: translateX(-14.3%);
}

#btnMute,#btnPlay {
	display: none;
}

main {
	/* display: none; */
	position: absolute;
	width: 100%;
/*	height: calc(9/16*100vw);*/
/*	max-height: 100%;*/
	height: 100%;
	overflow: hidden;

	background: black;

	perspective: 10px;
	perspective-origin: center 29%;
}

main:active, main.default {
	cursor: default;
}

main, main.default:active {
	cursor: none;
}

#stars {
	/* display: none; */
	position: absolute;
	background: transparent;
	mix-blend-mode: screen;
	z-index: 10;
}

#ufo {
	position: absolute;
	top: 0;
	left: 0;
	object-fit:cover;
	object-position: center;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.background {
	position: absolute;
	top: -20vh;
	left: -5vw;
	width: 120vw;
	height: 120vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	mix-blend-mode: screen;
	background-color: white;

	/* background-color: black */
	/* filter: invert() blur(50px); */

	/* background-blend-mode: saturation; */
}

.background_container {
	/* display: none; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter: invert();

	/* background: #a0995f; */
	/* z-index: -2; */

	mix-blend-mode: screen;
	opacity: 0.2;
	overflow: hidden;
}


.fog1 {
	background-image: url("../img/blue1.png");
}

.fog1_cont {
	background: #f4a700;
	animation: zoom1 var(--anim_conf);
}

.fog2 {
	background-image: url("../img/blue2.png");
}

.fog2_cont {
	background: #7d9c62;
	animation: zoom2 var(--anim_conf);
}

@keyframes zoom1 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes zoom2 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.15);
	}
}

.spotlight {
	background: linear-gradient(90deg, rgba(188,255,246,1) 0%, rgba(134,229,248,1) 70%, rgba(188,255,246,1) 100%);
	opacity: 80%;
	filter: blur(1000px);
	transform: rotateX(90deg) translate(-50%, -54vh);

	position: absolute;
	width: 30%;
	top: 0;
	bottom: 0;
	left: 50%;
	margin: auto;

	visibility: hidden;
}

@keyframes lightOn {
	to {
		visibility: visible;
		transform: rotateX(90deg) translate(-50%, -46.9vh);
	}
}

@keyframes lightOff {
	to {
		visibility: hidden;
		transform: rotateX(90deg) translate(-50%, -250px);
	}
}

.text3d {
	font-family: Alphabet4;
	font-size: 0;

	text-transform: uppercase;
	text-align: center;

	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    transform: translate3d(0, 45vh, -20px);

	color: #f6f6f6;
	/* #aba9aa */
	text-shadow: -1px -1px 1px #aba9aa,
        -1px -2px 1px #aba9aa,
        -1px -3px 1px #aba9aa,
        -1px -4px 1px #aba9aa,
        -1px -5px 1px #aba9aa,
        -1px -6px 1px #aba9aa;

	visibility: hidden;
	/* animation: textOn 2s ease-in-out forwards; */
}

@keyframes textOn {
	to {
		visibility: visible;
		transform: translate3d(0, 45vh, 1px);
		font-size: 7vw;
	}
}

@keyframes textOff {
	to {
		visibility: hidden;
		transform: translate3d(0, 45vh, -80px);
		font-size: 0;
	}
}

.black {
	visibility: hidden;

	background: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
	padding: 30px;

	color: gainsboro;
	font-family: 'Alphabet4';

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.black a:not(:nth-child(3)) {
	color: #86E5F8;
}

.black a:nth-child(3) {
	opacity: 0;
}